/* til þess að búa til slaufusviga ýttu þá á opt+7 */

body {
    max-width: 768px; /* with er föst tala en max-with er sveignaleg tala */
    margin: 2rem auto; /* top * bottom */
    padding: 2rem;
    line-height: 1.4; /* 1.5 er hámarkið */
    font-family: sans-serif;
    background-color: darkblue;
    color: white;
    border: 1px solid white ; /*flýtiskipum fyrir border-width; -style; -color */
}
h1{
    color: red;
}
h2{
    color: darkblue;
}
h3{
    color: brown;
}

/* hulduklasar link, visited */

a:link {
    color:rgb(201, 198, 108);
    text-decoration:underline;}
a:visited {
    color:rgb(219, 120, 120);
    text-decoration:none;}
a:hover {
    color:rgb(114, 199, 131);
    text-decoration:none;}
a:active {
    color:rgb(82, 145, 194);
    text-decoration:underline;}

/* punkturinn (.) er til þess að segir vafranum að þetta er classi  */
    .poem {
        padding-left: 3rem;
        color: yellow;
    }
    .poem em {
        color: pink;
    }